html {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2F2F2;
}

.cabecero {
    background-color: white;
    max-width: 90%;
    height: auto;
    margin: auto;
    overflow: auto;
    border-top: 0.18em solid #536dfe;
    border-left: 0.05em solid grey;
    border-right: 0.05em solid grey;
    border-radius: 0.3em 0.3em 0 0;
}

.contenedor {
    background-color: white;
    max-width: 90%;
    height: auto;
    margin: auto;
    overflow: auto;
    border-radius: 0 0 0.3em 0.3em;
    border-left: 0.05em solid grey;
    border-right: 0.05em solid grey;
    border-bottom: 0.18em solid #536dfe;
}

.objetos-contenedor {
    max-width: 100%;
    height: 100%;
    display: flex;
    padding: 2em 0;
}

.texto-centrado {
    text-align: center;
}

.buscar{
    margin: 2em 0 0 0;
}

.mensaje-encabezado {
    line-height: 0.2em;
    text-align: center;
    padding-bottom: 2em;
}

.factura {
    max-width: 40em;
    min-width: 30em;
    height: 25em;
    box-shadow: 0 0.2em 0.2em 0 grey;
    border-top: 0.18em solid #536dfe;
    background-color: #f2f2f2;
    border-radius: 0.3em;
    margin: auto;
}

.factura form {
    padding: 1em 1em 1em 1em;
    margin: auto;
    height: 25em;
    overflow: auto;
}

.entrada-cliente{
    width: 100%;
    color: #000000;
}

.datos-cliente label{
    margin-right: 0.5em;
}

.datos-cliente {
    display: flex;
    align-items: center;
}

.detallado {
    padding: 1em 0em 1em 0em;
}

.detallado table {
    width: 100%;
    text-align: center;
}

.nombre-columna{
    padding-bottom: 1em;
    background-color: #95ceff;
}

.cuerpo-tabla {
    background-color: #98b9ff7c;
}

.pie-tabla th {
    background-color: #95ceff;
}

.productos {
    max-width: 40em;
    min-width: 30em;
    height: 25em;
    box-shadow: 0 0.2em 0.2em 0 grey;
    border-top: 0.18em solid #536dfe;
    background-color: #f2f2f2;
    border-radius: 0.3em;
    margin: auto;
}

.productos table{
    padding: 1em;
    margin: auto;
}

.realizar {
    display: flex;
    align-items: center;
    float: right;
    padding: 0 1em 0 0;
}

.boton-realizar input {
    background-color: #95ceff;
    float: right;
    color: white;
    padding: 0.9em;
    border-radius: 0.8em;
    border: 0em;
}

.boton-realizar input:hover {
    background-color: #ccd4ff;
    color: #000000;
    cursor: pointer;
}

.error {
    color: rgb(131, 131, 131);
    padding-right: 1em;
    text-align: center;
}